
<h1> Search results for <%= input %>:</h1>

<% facts.forEach(fact => { %>
    <div>

        <h2><%= fact.fact %> <%= fact.fact_id %></h2>

        <form method="POST" action="/faveFact">
            <input hidden value="<%= input %>" name="animeName" />
            <input hidden value="<%= fact.fact_id %>" name="factId"/>
            <input hidden value="<%= fact.fact %>" name="fact"/>
            <button type="submit">Fave this fact</button>
        </form>

    </div>
<% }) %>